
body {
  background-image: url("../images/grande/bg2.png");
}

.container {
  margin-top: 15px;

}

.thumbnail{
  border: none;
}

.navbar {
  border: 0px;
  background-color: transparent;


}

header {
  background-image: url("../images/grande/header.png");
  width: 100%;

}

h2 {
  margin-left: 10px;
}

#logomobile {
  position: absolute;
  top: 0;
  left: 100px;
  width: 140px;
  height: 50px;

}
 #panier{
  position: absolute;
  top: 15px;
  right: 5px;
}


p {
  font-size: 14px;
}
#taille {
  width: 80%;
  height: auto;
}
#taille li {
  display: inline-block;
  left: 10px;

}

#taille a {
  padding: 2px 10px 2px 10px;
  background-color: lightgrey;
  color: grey;
  text-align: center;

}

#taille a:hover {
  background-color: rgb(47, 47, 47);
  color: white;
}

#footerhaut a {
  color: grey;
  padding: 25px 5px;
  position: absolute;
  right: 3px;
  width: 160px;
  height: 67px;
  font-size: 10px;
  text-align: center;

}

#footerhaut a:hover{color: black;}

.foot {
  width: 160px;
  height: 130px;
  position: relative;

}

#footerhaut {
  margin-left: 40px;
}

footer {
  margin-top: 40px;
}

#bas {
  color: grey;
}

#bas P {
  font-size: 10px;
  margin-left: -20px;
  width: 100%;
}

#bas label {
  display: block;
  font-size: 10px;
  text-align: center;
}

#monemail {
  width: 70%;
}

#bas a {
  width: 100%;
  margin-right: 20px;
}

/*************BLOG******************/


@media (min-width:768px) {

#taille {
  width: 80%;
  margin-left: 10px;

}
 h2 {
   margin-left: 20px;
 }

 #footerhaut a {
   background-color: rgba(0, 0, 0, 0.03);
   width: 300px;
   height: 80px;
   font-size: 12px;
   margin-top: 40px;
   margin-right: 40px;
   border: 1px solid lightgrey;
   border-radius: 5px;
 }

.foot {
  width: 370px;
  height: 105px;
}

#bas {
  margin-top: 50px;
}

#bas a {
  border: none;
  background: none;
  font-size: 10px;
  margin-right: 0px;
  padding: 0px;
}

#bas P {
  margin-top: 30px;
}

#bas label {
  display: inline;
  width: 100Px;
}

#bas input {
  width: 150px;
}

/*********BLOG*********/
.gif {
  width: 480px;
  height: 480px;
}

.nouveaute {
  width: 760px;
  height: 506px;
}


}

@media (min-width:998px) {

  #headerpetit {
    display: none;
  }

.container-fluid li {
  width: 170px;
  height: auto;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  background-color: rgba(211, 212, 210, 0.7);
  border-radius: 3px;

}

.container-fluid a {
  color: grey;
  text-align: right;

}

.container-fluid a:hover {
  color: black;
}

span {
  display: block;
  font-size: 10px;
  text-align: right;
}

.imgnav{
  position: absolute;
  left: 4px;
  bottom: 2px;
  width: 57px;
  height: 56px;

}

#petitenav {
  margin-top: 30px;
}

#petitenav li {
  background-color: white;
  margin: 10px;
  border-radius: 3px;
  height: 35px;
  width: auto;
}

#petitenav a {
  color: black;
  padding-bottom: 25px;
}

h2 {
  margin-left: 60px;
}

p {
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

#jedecouvre {
  width: auto;
  height: 260px;
}

#panierPC {
  background-image: url("../images/grande/panier.png");
  background-repeat: no-repeat;
  height: 90px;
}

#taille {
  position: fixed;
  z-index: 1;
  right: 20px;
  top: 40%;
  width: 70px;

}


#taille li {
  display: inline;

  height: 30px;

}

#taille a {
  margin-bottom: 3px;
}

footer {
background-image: url("../images/grande/header.png");
width: 100%;
height: 350px;
}

#footerhaut a {
  padding: 15px 30px 15px 115px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 300px;
  height: 75px;
  font-size: 12px;

}

.foot {
  width: 370px;
  height: 105px;

}

#footerhaut {
  margin-left: 110px;
}

#bas a {
  background: none;
  width: 100%;
  font-size: 10px;
  margin-top: 0px;
  margin-right: 100px;
}

#bas p {
  margin-top: 10px;
}

















}
