
body {
  background-image: url("../images/grande/bg2.png");
}

.container {
  margin-top: 15px;

}

.thumbnail{
  border: none;
}

.navbar {
  border: 0px;
  background-color: transparent;


}

header {
  background-image: url("../images/grande/header.png");
  width: 100%;

}

h2 {
  margin-left: 10px;
}

#logomobile {
  position: absolute;
  top: 0;
  left: 100px;
  width: 140px;
  height: 50px;

}
 #panier{
  position: absolute;
  top: 15px;
  right: 5px;
}


p {
  font-size: 14px;
}
#taille {
  width: 80%;
  height: auto;
}
#taille li {
  display: inline-block;
  left: 10px;


}

#taille a {
  padding: 2px 10px 2px 10px;
  background-color: lightgrey;
  color: grey;
  text-align: center;

}

#taille a:hover {
  background-color: rgb(47, 47, 47);
  color: white;
}

@media (min-width:768px) {

#taille {
  width: 80%;
  margin-left: 10px;

}
 h2 {
   margin-left: 20px;
 }


}

@media (min-width:998px) {

  #headerpetit {
    display: none;
  }

.container-fluid li {
  width: 170px;
  height: auto;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  background-color: rgba(211, 212, 210, 0.7);
  border-radius: 3px;

}

.container-fluid a {
  color: grey;
  text-align: right;

}

.container-fluid a:hover {
  color: black;
}

span {
  display: block;
  font-size: 10px;
  text-align: right;
}

.imgnav{
  position: absolute;
  left: 4px;
  bottom: 2px;
  width: 57px;
  height: 56px;

}

#petitenav {
  margin-top: 30px;
}

#petitenav li {
  background-color: white;
  margin: 10px;
  border-radius: 3px;
  height: 35px;
  width: auto;
}

#petitenav a {
  color: black;
  padding-bottom: 25px;
}

h2 {
  margin-left: 60px;
}



p {
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

#jedecouvre {
  width: auto;
  height: 260px;
}

#panierPC {
  background-image: url("../images/grande/panier.png");
  background-repeat: no-repeat;
  height: 90px;
}

#taille {
  position: fixed;
  z-index: 1;
  right: 20px;
  top: 40%;
  width: 70px;

}


#taille li {
  display: inline;

  height: 30px;

}

#taille a {
  margin-bottom: 3px;
}














}
