/**********************************************************
*********************GENERALE******************************
************************************************************/
body {
  background-image: url("../images/grande/bg2.png");
}

.container {
  margin-top: 15px;
}

.thumbnail{
  border: none;
}

.navbar {
  border: 0px;
  background-color: transparent;
}

header {
  background-image: url("../images/grande/header.png");
  width: 100%;
}

/********************MOBILE*******************************
*********************************************************/

/********************HEADER****************************/
h2 {
  margin-left: 10px;
}

#logomobile {
  position: absolute;
  top: 0;
  left: 100px;
  width: 140px;
  height: 50px;
}
 #panier{
  position: absolute;
  top: 15px;
  right: 5px;
}

p {
  font-size: 14px;
}

/*****************NAV TAILLE************************/

#taille {
  width: 80%;
  height: auto;
}

#taille li {
  display: inline-block;
  left: 10px;
}

#taille a {
  padding: 4px 7px 4px 7px;
  background-color: rgba(0, 0, 0, 0.05);
  color: grey;
  text-align: center;
}

#taille a:hover {
  background-color: rgb(47, 47, 47);
  color: white;
}

#tailleactive {
  background-color: rgb(47, 47, 47)!important;
  color: white !important;
}

/***********************FOOTER*************************/

#footerhaut a {
  color: grey;
  padding: 25px 5px;
  position: absolute;
  right: 3px;
  width: 160px;
  height: 67px;
  font-size: 10px;
  text-align: center;
}

#footerhaut a:hover{color: black;}

.foot {
  width: 160px;
  height: 130px;
  position: relative;
}

#footerhaut {
  margin-left: 40px;
}

footer {
  margin-top: 40px;
}

#bas P {
  font-size: 10px;
  margin-left: -20px;
  width: 100%;
  color: grey;
}

#bas label {
  display: block;
  font-size: 10px;
  text-align: center;
}

#monemail {
  width: 70%;
}

#bas a {
  width: 100%;
  margin-right: 20px;
  color: grey;
}

/*******************BLOG**************************/

aside {
  display: none;
}

.container h2 {
  font-size: 24px;
  color: grey;
  width: 100%;
  margin-left: 0;
}

.commentaire  {

  color: lightgrey;
}

.commentaire a {
  color: lightgrey;
  text-decoration: underline;

}

.container h2:hover {
  color: rgb(79, 124, 156);
}

.blog {
  margin-bottom: 50Px;
}

.figure P {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*****************CONTACT*************************/

.formulaire {
  background-image: url("../images/grande/floral.jpg");
  background-size: cover;
  margin-top: -20px;
}

.formulaire h3 {
  text-align: center;
}

#adresse  {
  background-color: rgb(240, 220, 138);
  background-size: cover;
  color: grey;
  text-align: center;
}

#map {
  margin-top: 50px;
  margin-left: 30px;
}

#map h3 {
  background-color: rgb(240, 220, 138);
  margin-left: -30px;
  color: grey;
  text-align: center;
}


/*********************TABLETTE**************************
******************************************************/

@media (min-width:768px) {

#taille {
  width: 80%;
  margin-left: 10px;
}

 h2 {
   margin-left: 20px;
 }

/*****************FOOTER*********************/

#footerhaut a {
   background-color: rgba(0, 0, 0, 0.03);
   width: 300px;
   height: 80px;
   font-size: 12px;
   margin-top: 40px;
   margin-right: 40px;
   border: 1px solid lightgrey;
   border-radius: 5px;
 }

.foot {
  width: 370px;
  height: 105px;
}

#bas {
  margin-top: 50px;
}

#bas a {
  border: none;
  background: none;
  font-size: 10px;
  margin-right: -200px;
  margin-top: -2px;
  padding: 0px;
}

/*********BLOG*********/

.gif {
  width: 480px;
  height: 480px;
}

.nouveaute {
  width: 760px;
  height: 506px;
}

aside {
  display: none;
}

.figure p {
  margin-bottom:0px;
}

/**************CONTACT**************/

.formulaire {
  width: 70%;
  height: 400px;
  background-size: contain;
}

.form-horizontal {
  margin-top: 60px;
}

#map h3 {
  margin-top: -48px;
  padding: 15px 0 15px 0;
}

iframe {
  width: 550px;
  height: 400px;
  margin-left: 80px;
}

}

/******************DESKTOP****************************
****************************************************/

@media (min-width:998px) {

/*********************HEADER**************************/

#headerpetit {
    display: none;
  }

#grandlogo {
  margin-left: 40px;
}

.container-fluid li {
  width: 170px;
  height: auto;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  border-radius: 3px;
}

.container-fluid a {
  color: rgb(162, 162, 162);
  background-color: rgba(0, 0, 0, 0.05);
  text-align: right;
}

.container-fluid a:hover {
  color: black;
}

span {
  display: block;
  font-size: 10px;
  text-align: right;
}

.imgnav{
  position: absolute;
  left: 4px;
  bottom: 0.5px;
  width: 57px;
  height: 56px;
}

#petitenav {
  margin-top: 30px;
}

#petitenav ul {
  margin-left: 80px;
}

#petitenav li {
  background-color: transparent;
  border-radius: 3px;
  width: auto;
}

#petitenav a:hover {
  background-color: white;
}

#shopactive {
  background-color: white !important;
  color: black !important;
}

#petitenav a {
  color: grey;
  padding-bottom: 30px;
  height: 30px;
}

h2 {
  margin-left: 60px;
}

p {
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

#jedecouvre {
  width: auto;
  height: 260px;
}

#panierPC {
  background-image: url("../images/grande/panier.png");
  background-repeat: no-repeat;
  height: 90px;
  width: 300px;
  position: absolute;
  right: 70px;
  margin-top: -30px;
  color: rgb(179, 88, 96);

  }

#panierPC a {
  color: rgb(179, 88, 96);
  text-decoration: underline;
}

#panierPC p {
  position: absolute;
  top: 30px;
  right: 50px;
}

#panierPC span {
  font-weight: 800;
  font-size: 50px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 220px;
}

#frais {
  font-size: 10px;
  color: grey;
  margin-top: 30px;
  margin-right: 25px;
}

#retour {
  position: absolute;
  top: 30px;
  right: 90px;
}

/***************NAV TAILLE*************************/

#taille {
  position: fixed;
  z-index: 1;
  right: 20px;
  top: 40%;
  width: 70px;
}

#taille li {
  display: inline;
  height: 30px;
}

#taille .active {
  background-color:
}

#taille a {
  margin-bottom: 3px;
}

/*********************FOOTER************************/

footer {
  background-image: url("../images/grande/header.png");
  width: 100%;
  height: 350px;
}

#footerhaut a {
  padding: 15px 30px 15px 115px;
  background-color: rgba(0, 0, 0, 0.03);
  width: 300px;
  height: 75px;
  font-size: 12px;
}

.foot {
  width: 370px;
  height: 105px;
}

#footerhaut {
  margin-left: 110px;
}

#bas a {
  background: none;
  width: 100%;
  font-size: 10px;
  margin-top: 0px;
  margin-right: 100px;
}

#bas p {
  margin-top: 10px;
}

/********************blog*********************/

aside {
  display: block;
  width: 10%;
  position: absolute;
  top: 250px;
  right: 90px;
}

aside a {
  display: block;
}

.blog {
  width: 70%;
}

.blog p {
  text-align: left;
}

.figure p {
  width: 40%;
  text-align: left;
}

.commentaire {
  width: 50%;
  margin-top: -10px;
}

.container h2 {
  font-size: 34px;
}

aside a {
  color: #70ACBF;
  padding-bottom: 4px;
  font-size: 16px;
}

aside a:hover {
  color: black;
}

aside {
  margin-top: -30px;
}

/********************CONTACT******************/

.formulaire {
  margin-top: 0;
  width: 60%;
}

.form-horizontal {
  width: 70%;
  margin-left: 100px;
}

iframe {
  margin-left: 350px;
}

#adresse {
  padding: 25px 0 15px 0;
}

}
